@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme("colors.page-bg");
    color: theme("colors.secondary");
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: theme("colors.title");
  }
}
